Body{
  background-color: black;
  color: white;
  text-align: center;
}

.header{
  position: sticky;
  top: 0;
  background-color: white;
  color: black;
  height: 85px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .rightHeader{
    width: 50vw;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
  }
}
h1{
  margin: 0;
  padding: 0;
}

.line{
  width: 3px;
  background-color: white;
  height: 85px;
  margin: auto;
}